* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Hanken Grotesk', sans-serif;
	background-color: #fff;
}
/****MAIN CONTAINER*****/
.container {
	width: 50%;
	margin: 100px auto 50px;
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	box-shadow: 5px 10px 15px hsl(241, 100%, 89%);
}
/*****CONTAINER LEFT****/
.container-left {
	width: 50%;
	border-radius: 20px;
	background: linear-gradient(to bottom, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
	text-align: center;
	padding: 30px 30px 40px;
	color: hsl(0, 0%, 100%);
}
h1 {
	font-weight: 700;
	font-size: 18px;
	color: hsl(241, 100%, 89%);
	margin-bottom: 30px;
}
.result-circle {
	border-radius: 50%;
	background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);
	width: 200px;
	height: 200px;
	display: inline-block;
}
.circle-content {
	font-weight: 500;
	font-size: 18px;
	margin-top: 50px;
}
.circle-content__number {
	font-size: 80px;
	font-weight: 700;
}
.circle-content__total {
	color: hsla(241, 100%, 89%, 0.8);
}
h2 {
	font-weight: 700;
	font-size: 25px;
	margin: 30px 0 20px;
	color: hsl(0, 0%, 100%);
}
.par-score {
	font-size: 20px;
	font-weight: 500;
	color:hsla(241, 100%, 89%, 0.8);
}
/****CONTAINER RIGHT*****/
.container-right {
	width: 50%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: hsl(0, 0%, 100%);
	padding: 30px 30px 40px;
}
h3 {
	margin-bottom: 30px;
	color: hsl(224, 30%, 27%);
}
h5 {
	color: hsla(224, 30%, 27%, 0.5);
}
.result-display {
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 10px;
}
.result-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 10px;
	border-radius: 5px;
}
.result-heading {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.reaction {
	background-color: hsla(0, 100%, 67%, 0.2);
}
.reaction h4 {
	color: hsl(0, 100%, 67%);
}
.memory {
	background-color: hsla(39, 100%, 56%, 0.1);
}
.memory h4 {
	color: hsl(39, 100%, 56%);
}
.verbal {
	background-color: hsla(166, 100%, 37%, 0.2);
}
.verbal h4 {
	color: hsl(166, 100%, 37%);
}
.visual {
	background-color: hsla(234, 85%, 45%, 0.1);
}
.visual h4 {
	color: hsl(234, 85%, 45%);
}
span {
	color: hsl(224, 30%, 27%);
}
/****BUTTON****/
button {
	padding: 15px 20px;
	border-radius: 25px;
	background-color: hsl(224, 30%, 27%);
	color: hsl(0, 0%, 100%);
	cursor: pointer;
	border: none;
	font-size: 16px;
	margin-top: 40px;
}
button:hover {
	background: linear-gradient(to bottom, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
}
/****ATTRIBUTION***/
.attribution { 
	font-size: 11px; 
	text-align: center; 
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}
/****MEDIA QUIRIES*****/
@media only screen and (max-width: 1000px) {
	.container {
		width: 90%;
	}
	.container-right,
	.container-left {
		width: 100%;
	}
}
@media only screen and (max-width: 530px) {
	.container {
		flex-direction: column;
		width: 100%;
		margin-top: 0px;
	}
	.container-right,
	.container-left {
		width: 100%;
	}
	.container-left {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}